@import 'tailwindcss';
@plugin 'tailwindcss-animate';
@plugin 'daisyui';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Brk';
  src: url('/fonts/BerkeleyMono.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Okxs';
  src: url('/fonts/okxs-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Okxs';
  src: url('/fonts/okxs-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Okxs';
  src: url('/fonts/okxs-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gens';
  src: url('/fonts/gs-med.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gens';
  src: url('/fonts/gs-sb.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Polyn';
  src: url('/fonts/poly-nm.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Polyn';
  src: url('/fonts/PolySansTrial-Bulky.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
/*@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}*/

@layer utilities {
  .scroll-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scroll-hide::-webkit-scrollbar {
    display: none;
  }
}

.pentagon {
  /* width: 200px; */
  aspect-ratio: 1.75;
  --o: calc(50% * tan(-22.5deg));
  clip-path: polygon(var(--o) 0%, 100% var(--o), calc(100% - var(--o)) 50%, 0% calc(180% - var(--o)));
}

.pentagox {
  /* width: 200px; */
  aspect-ratio: 1.75;
  --o: calc(50% * tan(-22.5deg));
  clip-path: polygon(var(--o) 0%, 100% var(--o), calc(100% - var(--o)) 50%, 0% calc(180% - var(--o)));
}

@plugin "daisyui/theme" {
  name: 'xpriori';
  default: true;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: oklch(14% 0 0);
  --color-base-200: oklch(20% 0 0);
  --color-base-300: oklch(26% 0 0);
  --color-base-content: oklch(97% 0 0);
  --color-primary: oklch(98% 0.022 95.277);
  --color-primary-content: oklch(14% 0.005 285.823);
  --color-secondary: oklch(96% 0.016 293.756);
  --color-secondary-content: oklch(14% 0.005 285.823);
  --color-accent: oklch(96% 0.018 272.314);
  --color-accent-content: oklch(35% 0.144 278.697);
  --color-neutral: oklch(14% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(98% 0.019 200.873);
  --color-info-content: oklch(39% 0.07 227.392);
  --color-success: oklch(98% 0.018 155.826);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(98% 0.016 73.684);
  --color-warning-content: oklch(40% 0.123 38.172);
  --color-error: oklch(97% 0.013 17.38);
  --color-error-content: oklch(39% 0.141 25.723);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0rem;
  --size-selector: 0.3125rem;
  --size-field: 0.1875rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: 'v';
  default: false;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: oklch(20% 0.042 265.755);
  --color-primary: oklch(76% 0.177 163.223);
  --color-primary-content: oklch(26% 0.051 172.552);
  --color-secondary: oklch(90% 0.098 111.71);
  --color-secondary-content: oklch(27% 0.046 192.524);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(27% 0.046 192.524);
  --color-neutral: oklch(37% 0.044 257.287);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --color-minty: oklch(0.72 0.11 178);

  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@theme inline {
  --color-minty: oklch(0.92 0.1 120);
  --color-panel: oklch(0.3 0.01 304);
  --color-panel-dark: oklch(0.22 0.01 300);
  --color-blood: oklch(0.66 0.24 360);
  --color-mossad: oklch(0.66 0.19 242);
  --color-avocado: oklch(0.75 0.2 148);
  --color-avocado-light: oklch(0.8 0.16 148);
  --color-card-table: oklch(0.6 0.16 148);
  --color-brood: oklch(0.58 0.2 32);
  --color-usdc: oklch(0.562 0.1504 253.19);
  --color-polygon: oklch(0.5284 0.2186 291.48);
  --color-ethereum: oklch(0.6416 0.1738 268.95);
  --color-bitcoin: oklch(0.7523 0.1663 62.59);
  --color-usdt: oklch(0.6346 0.1184 167.54);

  --font-geist: var(--font-geist-sans);
  --font-bsi: var(--font-bsi);
  --font-exo: var(--font-exo);
  --font-sans: var(--font-figtree);
  --font-bone: var(--font-bone);
  --font-space: var(--font-space);
  --font-brk: 'Brk', Menlo, Monaco, monospace;
  --font-okxs: 'Okxs', sans-serif;
  --font-gs: 'Gens', sans-serif;
  --font-polyn: 'Polyn', sans-serif;
  --font-bitcoin: var(--font-bitcoin);
  --font-arc: var(--font-arc);
}

.diamond {
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(
    50% 0%,
    /* Top vertex */ 100% 50%,
    /* Right vertex */ 50% 100%,
    /* Bottom vertex */ 0% 50% /* Left vertex */
  );
}

.zero-box {
  clip-path: polygon(
    0% 50%,
    /* Left middle point */ 40% 0%,
    /* Top point */ 100% 0%,
    /* Right middle point */ 100% 100%,
    /* Bottom right point */ 40% 100% /* Bottom left point */
  );
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Hide scrollbars globally */
  * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  *::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

@layer components {
  .border-dashed-lg {
    background-image: linear-gradient(transparent, transparent),
      repeating-linear-gradient(90deg, #222 0, #14141b 2px, transparent 10px, transparent 10px);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }
}
